Вариант 9.

<form>
    <label for="numberInput">Введите число</label>
    <input id="numberInput" type="number">
    <input type="submit" name="commit" id="btn" value="Ввод">
</form>

<br />

<div id="result"></div>
