<h1>Palindrome machine input</h1>


<%= form_tag("view", :method => "get") do %>
  <%= label_tag("Input num = ") %>
  <%= text_field_tag(:num, "", :maxlength => "6") %>  <br/>
  <%= submit_tag("Create palindrome") %>
<% end %>
